* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.6rem, 1.5rem + 0.3vw, 1.8rem);

    width: 100dvw;
    height: 100dvh;

    background: radial-gradient(
        circle, var(--gradient-start) 0%, var(--gradient-end) 70%
    );
    background-color: var(--gradient-end);
}

.app-wrapper {
    display: flex;
    min-height: 100dvh;

}

