.action-order {
    font-style: italic;
    font-variant: all-petite-caps;
}

.centralized-text {
    text-align: center;
}

.game-text {
    line-height: 1.3;
    margin: 0.8rem 1.6rem;
    max-width: 70ch;

    animation: fadeIn 0.5s ease-in;
}

.monospace-text {
    font-family: 'Fira Mono', monospace;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
